.grid {
    color: #282c34;
    background-color: #ffffff;
    text-align: center;
    // padding: 2rem 0;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    gap: 10px
}
